<h1>Productos</h1><br><br>
<%= link_to "Crear Producto", new_product_path %>
<br><br>
<% @products.each do |producto|%>
<h2>
<%= link_to producto.name, product_path(producto.id)%>|
<%= link_to "Delete", product_path(producto.id), data: {method: :delete} %>|
<%= link_to "Edit", edit_product_path(producto.id) %>
</h2>
<% end %>
